.about{
    padding-top: 410px;
    padding-bottom: 206px;
    background-color: $primary2;
    @include lg{
        padding-top: 250px;
        padding-bottom: 150px;
    }
    @include mmd{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include sm{
        padding-top: 120px;
        padding-bottom: 70px;
        text-align: center;
    }
    .aboutLeft{
        position: relative;
    }
    .aboutImg img {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 724px;
        margin-bottom: -85px;
        @include mmd{
            max-width: 400px;
            margin-bottom: 0;
        }
        @include sm{
          display: none;
        }
    }
    .aboutContent{
        h2{
            margin-bottom: 40px;
        }
        p{
            @include font-26;
            text-transform: uppercase;
            font-weight: 300;
            color: $text;
        }
    }
}