.community {
    padding-top: 350px;
    padding-bottom: 180px;
    @include lg{
        padding-top: 250px;
        padding-bottom: 150px;
    }
    @include mmd{
        padding-top: 200px;
        padding-bottom: 150px;
    }
    @include sm{
        padding-top: 140px;
        padding-bottom: 100px;
    }
    & h2 {
        line-height: 70%;
        letter-spacing: 1.4px;
        margin-bottom: 65px;
        @include sm{
            margin-bottom: 30px;
        }
    }
    & p {
        @include font-24;
        font-weight: 600;
        padding-right: 210px;
        font-family: "Urbanist", sans-serif;
        @include font-24;
        color: #081702;
        @include mmd{
            padding-right: 15%;
        }
    }
    & .gallery-title {
        @include sm{
            flex-direction: column;
            text-align: center;
        }
        & .gtitleMImg {
            width: 80%;
            @include lg{
                width: 100%;
            }
            @include mmd{
                display: none;
            }
            & img {
                max-width: 383px;
                margin-left: -10px;
                margin-top: -50px;
                @include lg{
                    margin-left: -50px;
                    margin-top: 0;
                }
                @include mmd{
                    margin-left: -50px;
                    margin-top: 0;
                }
            }
        }
        .title-info p{
            @include sm{
                padding-right: 0;
                max-width: 450px;
                margin:0 auto 50px;
            }
        }
    }
    & .gtitleRight {
        & p {
            padding-right: 0;
            font-family: 'CocogoosePro-light';
            @include font-24;
            color: #081702;
            font-weight: 300;
            width: 115%;
            margin-left: -15%;
            @include sm{
                width: 100%;
                max-width: 450px;
                margin:0 auto 50px;
            }
        }
    }
    & .gtitleRight,
    .gallery-title {
        padding-bottom: 60px;
        @include sm{
            padding-bottom: 0;
        }
    }


.grid-wrapper > div {
	@include ssm{
        margin-bottom: 20px;
    }
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    border-radius: 16px;
    border: 4px solid #000;
}

.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 300px;
	grid-auto-flow: dense;
    @include sm{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 280px;
    }
    @include ssm{
        display: block;
    }
}

.grid-wrapper .img1 {
	grid-column: span 1;
}
.grid-wrapper .img2 {
	grid-column: span 1;
}
.grid-wrapper .img3 {
	grid-column: span 2;
}
.grid-wrapper .img4 {
	grid-row: span 1 ;
	grid-column: span 1;
}
.grid-wrapper .img5 {
	grid-row: span 1;
	grid-column: span 2;
}

.grid-wrapper .img6 {
	grid-column: span 1;
}
.grid-wrapper .img7 {
	grid-column: span 1;
	grid-row: span 2;
}

.grid-wrapper .img8 {
	grid-column: span 1;
}

.grid-wrapper .img9 {
	grid-column: span 1;
}

.grid-wrapper .img10 {
	grid-column: span 1 ;
}

.grid-wrapper .img11 {
	grid-column: span 1;
	grid-row: span 1;
}



.grid-wrapper .img12 {
	grid-column: span 1;
	grid-row: span 1;
}



.grid-wrapper .img13 {
	grid-column: span 1;
	grid-row: span 1;
}











}