.footer{
    padding-top: 280px;
    padding-bottom: 90px;
    @include mmd{
        padding-top: 150px;
        padding-bottom: 40px;
    }
    .footerLogo{
        max-width: 358px;
        margin-bottom: 25px;
        display: inline-block;
        @include CocogoosePro-letterpress;
        font-size: 80px;
        letter-spacing: 3%;
        color: #010101;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        @include mmd{
            font-size: 40px;
        }
        & img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            @include mmd{
                width: 50px;
                height: 50px;
            }

        }
        @include sm{
            margin-bottom: 15px;
        }
    }
    .wallet-txt{
        margin-bottom: 70px;
        @include font-28;
        @include CocogoosePro;
        color: $paragraph;
        @include mmd{
            margin-bottom: 30px;
        }
    }
    .footerMiddle{
        flex-direction: column;
        justify-content: space-between;
        @include sm{
            text-align: center;
        }
        p{
            font-family: "Inter", sans-serif;  
            @include font-20;
            font-weight: 500;
            line-height: 150%;
            color: $textC6;
        }
        padding-left:30%;
        @include lg{
            padding-left: 20%;
        }
        @include mmd{
            padding-left: 10%;
        }
        @include sm{
            padding-left: 0;
        }
    }
    .fmenu{
        @include sm{
            text-align: center;
            margin-top: 20px;
        }
        li{
            @include sm{
                display: inline-block;
            }
        }
        a{
            display: block;
            color: $paragraph;
            @include font-18;
            text-transform: uppercase;
            line-height: 120%;
            @include CocogoosePro;
            margin-bottom: 14px;
            @include transition;
            &:hover{
                opacity: .5;
            }
            @include sm{
                padding: 5px 15px;
            }
        }
        margin-bottom: 60px;
        @include mmd{
            margin-bottom: 15px;
        }

    }
    .footerRight{
       margin-top: -130px;
    }
    .social-links{
        a{
            margin:12px 8px;
        }
    }
    .frImg{
        max-width: 498px;
        @include sm{
            max-width: 300px;
            margin: 0 auto;
        }
    }
}